<div
  class="w-full relative rounded-sm bg-color-white-solid border-[rgba(0,0,0,0.1)] border-solid border-[1px] box-border flex flex-col items-start py-[6.125rem] px-[6.187rem] leading-[normal] tracking-[normal] lg:pl-[3.063rem] lg:pr-[3.063rem] lg:box-border mq900:pl-[1.5rem] mq900:pr-[1.5rem] mq900:box-border"
>
  <main
    class="self-stretch bg-color-white-solid overflow-y-auto flex flex-col items-start max-w-full"
  >
    <section
      class="self-stretch bg-color-grey-98 flex flex-col items-center justify-between gap-[0rem] min-h-[75rem] max-w-full"
    >
      <header-1
        [headerFlexDirection]="'column'"
        [navFlex]="'unset'"
        [navJustifyContent]="'space-between'"
        [navGap]="'1.25rem'"
        [navMargin]="'0'"
        [navAlignSelf]="'stretch'"
        [containerMargin]="'unset'"
        [onHomeTextClick]="onHomeTextClick"
        [homeColor]="'#374151'"
        [dashboardColor]="'#374151'"
        [analyticsColor]="'#2563eb'"
        [onDashboardTextClick]="onGoToDashboardClick"
      >
      </header-1
      ><main-1> </main-1><footer-1> </footer-1>
    </section>
  </main>
</div>
